<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Board:</strong>
  <%= @question.board_id %>
</p>

<p>
  <strong>Class room:</strong>
  <%= @question.class_room_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @question.subject_id %>
</p>

<p>
  <strong>Question type:</strong>
  <%= @question.question_type %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
