<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @board.state %>
</p>

<p>
  <strong>Nation:</strong>
  <%= @board.nation %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
